<?xml version="1.0"?>
<robot name="cube">
  <link name="baseLink">
    <contact>
      <!-- <stiffness value="100000.0"/>
      <damping value="1000000.0"/> -->
      <lateral_friction value="0.0" />
      <spinning_friction value="0.0" />
      <rolling_friction value="0.0" />
      <contact_cfm value="0.0" />
      <contact_erp value="0.0" />
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/cube.obj" scale="1 1e-4 1" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 0.25" />
      </material>
    </visual>
    <collision>
      <!-- <contact_coefficients mu='10.0' kp='100.0' kd='1.0'/> -->
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1 1e-4 1" />
      </geometry>
    </collision>
  </link>
</robot>